<?xml version='1.0'?>
<manifest xmlns:a='http://schemas.android.com/apk/res/android' package='com.github.TuningAnalyzer' a:versionCode='0' a:versionName='0'>
    <application a:label='Tuning Analyzer'>
        <activity a:name='com.github.TuningAnalyzer.MainActivity'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
    </application>
</manifest>
